::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
    color: #ff4081;
    font-size: 13px;
  }
  
  ::-moz-placeholder {
    text-align: right;
    font-style: italic;
    color: #ff4081;
    font-size: 13px;
  }
  
  textarea {
    resize: vertical;
    min-height: 150px;
  }

  svg {
    width: 110px;
    height: 120px;
    float: right;
    margin-top: -55px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  button::-moz-focus-inner {
    border: 0;
  }
  
  button {
    margin-top: 1em;
    background: #ff4081;
    border: none;
    border-radius: 2px;
    color: #fff;
    height: 36px;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
  }
  
  button i {
    color: #fff;
  }
  
  button[disabled] {
    background: #ddd;
    color: #757575;
  }
  
  i.material-icons {
    font-size: 18px;
  }
  
  .input:focus {
    outline-width: 0px;
  }
  
  .input:invalid {
    box-shadow: none;
  }
  
  .card {
    border-radius: 4px;
    margin: 20px auto;
    padding: 0 0 20px;
    background: #1c1d26;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    width: 360px;
    overflow: hidden;
  }
  
  .card.end {
    padding-bottom: 0;
  }
  
  .card.end form {
    display: none;
  }
  
  .header {
    height: 150px;
    background-image: linear-gradient(180deg, #FF7D78, #673AB7);
    background-size: 100% 100%;
    margin-bottom: px;
    color: #fff;
    padding: 10px 15px;
    overflow: hidden;
  }
  
  .header h2 {
    font-size: 28px;
    font-weight: 300;
  }
  
  .header p {
    padding-right: 80px;
  }
  /* Form styling */
  
  form {
    padding: 0 15px;
  }
  
  .input {
    border-width: 0 0 1px 0;
    border-color: #ccc;
    border-style: solid;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  .input-wrap {
    position: relative;
    margin: 20px auto 0;
  }
  
  .input-wrap:first-child {
    margin-top: 0;
  }
  
  label {
    top: 25px;
    position: absolute;
    left: 35px;
    transition: all 0.8s ease-in-out;
    color: #ccc;
  }
  
  i {
    position: relative;
    left: 0px;
    top: 25px;
    transition: all 0.8s ease-in-out;
    color: #757575;
  }
  
  button i {
    top: 0;
    margin-right: 15px;
  }
  
  i.active {
    top: 10px;
    width: 100%;
    height: 100%;
    color: #673AB7;
    transition: all 0.8s;
  }
  
  label.active {
    top: 10px;
    transition: all 0.8s;
    color: #e44c65;
  }
  
  i.invalid,
  label.active.invalid {
    color: #F44336;
  }
  
  .active textarea,
  .not textarea {
    border-bottom: none;
  }
  
  .input-wrap:before {
    content: ' ';
    position: absolute;
    font-size: 16px;
    right: 0;
    width: 35px;
    height: 35px;
    -webkit-padding-before: 0.7%;
    -webkit-padding-end: 1%;
    -webkit-padding-after: 1%;
    -webkit-padding-start: 1%;
    text-align: center;
    top: 20px;
    background-color: transparent;
    border-radius: 50%;
    color: #fff;
    font-family: "Material Icons";
    transform: scale(0) rotate(90deg);
    transform-origin: center;
    transition: all 0.4s;
  }
  
  .input-wrap.valid:before {
    content: '\e5ca';
    background-color: #4CAF50;
    transform: scale(1) rotate(0deg);
    transition: all 0.8s;
  }
  
  .input-wrap.invalid:before {
    content: '\e14c';
    background-color: #F44336;
    transform: scale(1) rotate(0deg);
    transition: all 0.8s;
  }
  
  .input-wrap.active:after,
  .input-wrap.not.active:after {
    border-bottom: 2px solid #e44c65;
    bottom: 0;
    left: 0;
    content: "";
    height: 0;
    position: absolute;
    width: 101%;
    animation-name: bord;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease;
  }
  
  .input-wrap.not:after {
    border-bottom: 2px solid #ff4081;
    bottom: 0;
    left: 0;
    content: "";
    height: 0;
    position: absolute;
    width: 100%;
    animation-name: bords;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease;
  }
  
  .input-wrap.active.invalid:after {
    border-bottom: 2px solid #e60f00;
    bottom: 0;
    left: 0;
    content: "";
    height: 0;
    position: absolute;
    width: 100%;
    animation-name: bord;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease;
  }
  
  input[type="checkbox"] {
    text-indent: -9999px;
    vertical-align: text-top;
  }
  
  [type="checkbox"] + label:before,
  [type="checkbox"] + label:after {
    content: '';
    left: 0;
    position: absolute;
    z-index: 1;
  }
  
  [type="checkbox"]:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 3px;
    top: 0px;
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: all 0.8s;
  }
  
  [type="checkbox"]:not(:checked) + label:after {
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #aaa;
    top: 3px;
    left: 4px;
    transition: all 0.8s;
    z-index: 0;
  }
  
  [type="checkbox"]:checked + label:before {
    content: '\e876';
    top: 0px;
    left: 3px;
    font-size: 16px;
    color: #fff;
    font-family: "Material Icons";
    transform: scale(1);
    transition: all 0.8s;
  }
  
  [type="checkbox"]:checked + label:after {
    top: 3px;
    left: 4px;
    width: 12px;
    height: 12px;
    border: 1px solid #ff4081;
    background-color: #ff4081;
    transition: all 0.8s;
    z-index: 0;
  }
  
  input[type="checkbox"] + label {
    position: static;
    font-size: 12px;
    color: #757575;
    font-weight: 500;
  }
  /* End styles */
  
  .card .ending {
    visibility: hidden;
    display: flex;
    height: 0;
    transition: visibility 0.8s linear;
  }
  
  .card.end .ending {
    height: 100%;
    min-height: 64px;
    visibility: visible;
    transition: visibility 0.8s linear;
  }
  
  .ending div:first-child {
    width: 0;
  }
  
  .end .ending div:first-child {
    background: #673AB7;
    width: 85px;
    transition: all 0.8s linear;
  }
  
  .ending h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
  }
  
  .ending i {
    transform: scale(0) rotate(360deg);
    left: 5px;
    transition: all 0.8s ease;
  }
  
  .ending.showed i {
    color: #fff;
    font-size: 60px;
    top: 0;
    transform: scale(1) rotate(0deg);
    transition: all 0.8s ease;
  }
  
  @keyframes bord {
    0% {
      width: 0%;
    }
    100% {
      width: 101%;
    }
  }
  
  @keyframes bords {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }